.flexcontainer{
    display:block
}

nav ul {
    display: block;
}

nav li{
    background-color: #869dc7;
}

nav {
    width: 100%;
}

main{
    font-size: 23px;
    margin-left: 5px;
}

#desktop{
    display: none;
}